@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to top, #023535, #015958 , #10807e );
    background-attachment: fixed;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #016e6d;
    text-align: center;
    text-shadow: 1px 1px 1px  #015958;
}

h2 {
    color: #10d3d0;
}

p { 
    text-align: justify;
}